@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-light dark:bg-dark transition-all inset-0 bg-cover bg-no-repeat bg-center absolute bg-fixed min-h-screen overflow-y-auto top-0 left-0;
  }
  main {
    @apply relative container mx-auto max-w-7xl z-10 px-6 min-h-[calc(100vh_-_64px_-_108px)] mb-12 flex-grow;
  }
  section {
    @apply col-span-12 lg:col-span-10 xl:col-span-8 lg:px-4 mt-6 lg:mt-10;
  }

  input:checked + .slider {
    @apply bg-primary-500 hover:bg-primary-600 dark:hover:bg-primary-400;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }
}

@layer components {
  .bg-home {
    @apply bg-home-light dark:bg-home-dark;
  }
  .bg-components {
    @apply bg-components-light dark:bg-components-dark;
  }
  .hover-animation {
    @apply inline-block relative;
  }
  .hover-animation::after {
    @apply absolute w-full h-[3px] -bottom-1 left-0 origin-bottom-right bg-primary-200 transition transform duration-500 ease-out;
    content: "";
    transform: scaleX(0);
  }
  .hover-animation:hover::after {
    @apply origin-bottom-left;
    transform: scaleX(1);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .switch {
    @apply relative inline-block w-12 h-6;
  }
  .switch input {
    @apply opacity-0 w-0 h-0;
  }
  .slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-default-100 hover:bg-default-200 dark:bg-default-400 dark:hover:bg-default-500 transition duration-500 rounded-full w-full before:absolute before:content-[""] before:h-5 before:w-5 before:left-[2px] before:bottom-[2px] before:bg-light before:transition before:duration-500 before:rounded-full before:shadow;
  }
}
