@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply absolute inset-0 left-0 top-0 min-h-screen overflow-y-auto bg-light bg-cover bg-fixed bg-center bg-no-repeat transition-all dark:bg-dark;
  }

  main {
    @apply container relative z-10 mx-auto mb-24 min-h-[calc(100vh_-_64px_-_108px)] max-w-7xl flex-grow px-6;
  }

  section {
    @apply col-span-12 mt-6 lg:col-span-10 lg:mb-16 lg:mt-10 lg:px-4 xl:col-span-8;
  }

  input:checked + .slider {
    @apply bg-primary-500 hover:bg-primary-600 dark:hover:bg-primary-400;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }
}

@layer components {
  .bg-home {
    @apply bg-home-light dark:bg-home-dark;
  }

  .bg-components {
    @apply bg-components-light dark:bg-components-dark;
  }

  .hover-animation {
    @apply relative inline-block;
  }

  .hover-animation::after {
    @apply absolute -bottom-1 left-0 h-[3px] w-full origin-bottom-right transform bg-primary-200 transition duration-500 ease-out;
    content: "";
    transform: scaleX(0);
  }

  .hover-animation:hover::after {
    @apply origin-bottom-left;
    transform: scaleX(1);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .switch {
    @apply relative inline-block h-6 w-12;
  }

  .switch input {
    @apply h-0 w-0 opacity-0;
  }

  .slider {
    @apply absolute bottom-0 left-0 right-0 top-0 w-full cursor-pointer rounded-full bg-default-100 transition duration-500 before:absolute before:bottom-[2px] before:left-[2px] before:h-5 before:w-5 before:rounded-full before:bg-light before:shadow before:transition before:duration-500 before:content-[""] hover:bg-default-200 dark:bg-default-400 dark:hover:bg-default-500;
  }

  /* Wrapping */
  .Tooltip-Wrapper {
    @apply relative inline-block;
  }

  /* Absolute positioning */
  .Tooltip-Tip {
    @apply absolute left-1/2 z-50 -translate-x-1/2 whitespace-nowrap rounded-lg bg-dark px-3 py-2 text-xs font-medium text-default-25 shadow-lg before:pointer-events-none before:absolute before:left-1/2 before:ml-[calc(6px*-1)] before:h-0 before:w-0 before:border-[6px] before:border-transparent before:content-[""] dark:bg-light dark:text-default-700;
  }

  /* top */
  .Tooltip-Tip.top-start {
    @apply top-[calc(44px*-1)] before:left-1/4 before:top-full before:border-t-dark before:dark:border-t-light;
  }
  .Tooltip-Tip.top-center {
    @apply top-[calc(44px*-1)] before:top-full before:border-t-dark before:dark:border-t-light;
  }
  .Tooltip-Tip.top-end {
    @apply top-[calc(44px*-1)] before:left-3/4 before:top-full before:border-t-dark before:dark:border-t-light;
  }

  .Tooltip-Tip.right {
    @apply left-[calc(100%+16px)] top-1/2 -translate-y-1/2 translate-x-0 before:left-[calc(6px*-1)] before:top-1/2 before:-translate-y-1/2 before:translate-x-0 before:border-r-dark before:dark:border-r-light;
  }
  /* bottom */
  .Tooltip-Tip.bottom-start {
    @apply bottom-[calc(44px*-1)] before:bottom-full before:left-1/4 before:border-b-dark before:dark:border-b-light;
  }
  .Tooltip-Tip.bottom-center {
    @apply bottom-[calc(44px*-1)] before:bottom-full before:border-b-dark before:dark:border-b-light;
  }
  .Tooltip-Tip.bottom-end {
    @apply bottom-[calc(44px*-1)] before:bottom-full before:left-3/4 before:border-b-dark before:dark:border-b-light;
  }
  /* Left */
  .Tooltip-Tip.left {
    @apply left-auto right-[calc(100%+16px)] top-1/2 -translate-y-1/2 translate-x-0 before:left-auto before:right-[calc(6px*-2)] before:top-1/2 before:-translate-y-1/2 before:translate-x-0 before:border-l-dark before:dark:border-l-light;
  }
}
